@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    transition: 0.5s;
    box-sizing: border-box;
}

:root {
    --degrade-padrao: linear-gradient(90deg, #2C5493, #6288C6);
    --branco-padrao: #D9D9D9;
    --preto-padrao: #1E1E1E;
    --azul-padrao: #2C5493;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(90deg, #1E1E1E, #0C1E3B);
    /* border: 1px solid red; */
    color: var(--branco-padrao);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

#menu-mobile {
    display: none;
}

.navbar-mobile{
    display: none;
}

.navbar {
    /* border: 1px solid red; */
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2vh 3vw 0 3vw;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: var(--branco-padrao);
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 300;
}

.navbar a:hover {
    font-size: 1.1rem;
    font-weight: 500;
    text-shadow: 0px 0px 10px var(--azul-padrao);
}

.navbar input {
    width: 13vw;
    height: 5vh;
    background-image: var(--degrade-padrao);
    border: none;
    border-radius: 1rem;
    color: var(--branco-padrao);
    cursor: pointer;
}

.navbar input:hover {
    width: 14vw;
    height: 6vh;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 0px 0px 10px var(--azul-padrao);
}



/* tamanho mobile */
@media (max-width: 767px) { 
    .navbar {
        display: none;
    }

    #menu-mobile {
        display: flex;
        cursor: pointer;
        position: sticky;
        left: 85%;
        top: 2vh;
        width: 3.5rem;
        filter: invert(1);
    }

    .navbar-mobile {
        display: none;
        flex-direction: column;
        padding-left: 5vw;
        padding-top: 5vh;
        position: fixed;
        top: 0;
        backdrop-filter: blur(30px);
        width: 70vw;
        height: 100vh;
    }

    .topo-menu-mobile {
        display: flex;
        gap: 20%;
        align-items: start;
        font-size: 2rem;
        font-weight: 300;
        cursor: pointer;
    }

    .topo-menu-mobile p:hover {
        font-weight: 500;
    }

    .navbar-mobile li {
        list-style-type: none;
        display: flex;
        height: 50%;
        flex-direction: column;
        justify-content: center;
    }

    .navbar-mobile a {
        color: var(--branco-padrao);
        text-decoration: none;
        font-weight: 300;
    }

    .navbar-mobile a:hover {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .links-navegacao input {
        width: 90%;
        height: 6vh;
        margin: auto;
        border-radius: 1rem;
        background-image: var(--degrade-padrao);
        border: none;
        color: var(--branco-padrao);
        cursor: pointer;
    }

    .links-navegacao input:hover {
        width: 95%;
        height: 6.5vh;
        margin: auto;
        font-size: 1.1rem;
        font-weight: 500;
    }
}
