@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

:root {
    --degrade-padrao: linear-gradient(90deg, #2C5493, #6288C6);
    --branco-padrao: #D9D9D9;
    --preto-padrao: #1E1E1E;
    --azul-padrao: #2C5493;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(90deg, #1E1E1E, #0C1E3B);
    /* border: 1px solid red; */
    color: var(--branco-padrao);
    overflow-x: hidden;
}

@media (min-width: 601px) {

    .navbar {
        width: 100vw;
        z-index: 9999;
        margin-top: 1%;
        padding-bottom: 0.5%;
        border-bottom: 0.001rem solid var(--branco-padrao);
    }

    .links-navegacao {
        display: flex;
        color: var(--branco-padrao);
        justify-content: space-around;
        list-style-type: none;
    }

    .links-navegacao > li {
        font-size: 1vw;
        white-space: nowrap;
        cursor: pointer;
        color: var(--branco-padrao);
        margin: auto 0;
        transition: 0.5s ease;
    }

    .links-navegacao a {
        color: var(--branco-padrao);
        text-decoration: none;

    }

    .links-navegacao img {
        width: 10vw;
    }

    .links-navegacao > li:hover {
        text-decoration: underline;
        font-size: 1.2vw;
        font-weight: 600;
    }

    #btn-contato-menu {
        width: 12vw;
        height: 6vh;
        border-radius: 1.1rem;
        background-color: transparent;
        font-size: 1vw;
        font-weight: 600;
        color: var(--branco-padrao);
        border: 0.1rem solid var(--branco-padrao);
        cursor: pointer;
        transition: 0.5s ease;
    }

    #btn-contato-menu:hover {
        background-image: var(--degrade-padrao);
        border: none;
        font-size: 1.2vw;
        width: 13.5vw;
        height: 7vh;
    }

        /* inicio da hero sectio */

    .hero-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 3vw;
    }

    .textos * {
        margin-top: 10px;
        
    }

    .textos > h1 {
        font-size: 4vw;
        font-weight: 600;
    }

    .textos > h2 {
        font-size: 1.2vw;
        font-weight: 500;
        margin: 0;
    }

    .textos > p {
        width: 40vw;
        font-size: 1vw;
        font-weight: 300;
        text-align: justify;
    }

    .botoes-principal {
        display: flex;
        align-items: center;
    }

    .botoes-principal * {
        margin-right: 2vw;
    }

    .botoes-principal > p {
        font-size: 1vw;
    }

    .botoes-principal > input {
        height: 3vw;
        width: 15vw;
        border-radius: 1.1rem;
        cursor: pointer;
        background-color: transparent;
        color: var(--branco-padrao);
        font-weight: 600;
        opacity: 1;
    }

    #btn-entre-em-contato {
        background-image: var(--degrade-padrao);
        transition: 0.5s;
        font-size: 1vw;
        border: none;
    }

    #btn-entre-em-contato:hover {
        height: 3.2vw;
        width: 16vw;
        font-size: 1.2vw;
        
    }

    #btn-portifolio {
        border: 0.1vw solid var(--branco-padrao);
        font-size: 1vw;
        transition: 0.5s
    }

    #btn-portifolio:hover {
        height: 3.2vw;
        width: 16vw;
        font-size: 1.2vw;
        background-image: var(--degrade-padrao);
        border: none;
    }

    .imagem > img {
        width: 50vw;
    }

    /* fim da hero section */

    /* inicio da sessao serviços */

    .sessao-servicos {
        display: flex;
        flex-direction: column;
        background-color: var(--branco-padrao);
        margin: -2vw auto;
        border-radius: 1.2vw;
        color: var(--preto-padrao);
        text-align: center;
        padding-bottom: 2vw;
    }

    .titulo-servico-div {
        margin-top: 3vh;
    }
    
    .sessoes-itens {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .item-servico {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
        flex: 1 1 calc(33.33% - 10px);
    }

    .item-servico * {
        margin-bottom: 2vh;
    }

    .item-servico img {
        width: 5vw;
    }

    .item-servico h2 {
        font-weight: 400;
        font-size: 1.5vw;
    }

    .item-servico p {
        font-weight: 300;
        font-size: 0.9vw;
        width: 70%;
        text-align: center;
    }

    .item-servico a {
        color: var(--azul-padrao);
        font-size: 0.9vw;
        font-weight: 500;
    }

    .para-quem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
    }
    
    .para-quem-items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        width: 100%;
        margin: 2vw 0;
    }
    
    .item-para-quem {
        display: flex;
        border: 0.2vw solid;
        border-image: var(--degrade-padrao) 1;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 250px;
        height: 50vh;
        margin: 10px 0;
    }

    .item-para-quem h2 {
        font-size: 2.7vh;
        margin-bottom: 0vh;
        font-weight: 500;
    }

    .item-para-quem p {
        font-weight: 300;
        margin-bottom: 1vh;
        font-size: 0.9vw;
        margin-bottom: auto;
    }

    .item-para-quem img {
        margin-top: auto;
        margin-bottom: 10%;
        width: 7vw;
    }
    
    .btn-entre-em-contato-geral {
        width: 30%;
        height: 6.5vh;
        border-radius: 1.1rem;
        background-image: var(--degrade-padrao);
        border: none;
        color: var(--branco-padrao);
        font-size: 1vw;
        font-weight: 500;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .btn-entre-em-contato-geral:hover {
        width: 33vw;
        height: 7.5vh;
        font-size: 1.2vw;
        font-weight: 600;
    }


    .portifolio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* height: 110vh; */
    }
    
    .portifolio p {
        margin: 5vh 1%;
        font-size: 0.9vw;
    }
    
    .sessao-do-portifolio {
        display: flex;
        justify-content: space-around;
    }
    
    .item-portifolio {
        width: 23vw;
        height: 40vh;
        border-radius: 1vw;
        background-color: var(--branco-padrao);
        transition: 0.5s;
        cursor: pointer;
        opacity: 0.5;
        filter: blur(2px);
    }
    
    .sessao-do-portifolio:hover .item-portifolio{
        opacity: 0.3;
        filter: blur(5px);
    }
    
    .sessao-do-portifolio:hover .item-portifolio:hover{
        opacity: 1;
        scale: 1.1;
        filter: none;
    }

    #btn-contato-portifolio {
        margin: 0  auto;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

    
    .sobre-mim-section{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin-bottom: 10vh;
    }

    .imagem-sobre-mim{
        border-radius: 1vw;
        width: 40vw;
        height: 65vh;
        background-image: url('../images/matheus-hero-section-desktop.webp');
        background-size: cover;
        background-position: center;
    }

    .textos-sobre-mim {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        width: 35vw;
        height: 60vh;
    }

    .textos-sobre-mim p {
        text-align: justify;
    }

    .div-botao-sobre-mim{
        display: flex;
        gap: 2%;
        align-items: end;
    }

    #btn-contato-sobre-mim {
        width: 20vw;
    }

    #btn-contato-sobre-mim:hover {
        width: 22vw;
    }
    
}

@media (max-width: 600px){
    .navbar {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
    }

    .imagem {
        position: relative;
        order: 1;
        z-index: 1;
    }

    .imagem img {
        margin: auto;
        width: 100%;
    }

    .textos {
        display: flex;
        flex-direction: column;
        position: relative;
        order: 2;
        align-items: center;
        margin-top: -25%;
        z-index: 2;
    }
    
    .textos > h1 {
        font-size: 10vw;
        margin-top: -7%;
        font-weight: 600;
        text-align: center;
    }
    
    .textos > h2 {
        font-size: 2.7vh;
        font-weight: 500;
        margin: 0;
    }
    
    .textos > p {
        width: 80vw;
        font-size: 1.5vh;
        font-weight: 300;
        margin: 3vh;
        text-align: center;
    }

    .botoes-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .botoes-principal > p {
        display: none;
    }
    
    .botoes-principal > input {
        margin-bottom: 2%;
        height: 5vh;
        width: 70vw;
        border-radius: 1.1rem;
        cursor: pointer;
        background-color: transparent;
        color: var(--branco-padrao);
        font-weight: 600;
        opacity: 1;
    }
    
    #btn-entre-em-contato {
        background-image: var(--degrade-padrao);
        transition: 0.5s;
        font-size: 2vh;
        border: none;
    }
    
    #btn-entre-em-contato:hover {
        height: 6vh;
        width: 80vw;
        font-size: 2.5vh;
        
    }
    
    #btn-portifolio {
        border: 0.1vw solid var(--branco-padrao);
        font-size: 2vh;
        transition: 0.5s
    }
    
    #btn-portifolio:hover {
        height: 6vh;
        width: 80vw;
        font-size: 2.5vh;
        background-image: var(--degrade-padrao);
        border: none;
    }

    .sessao-servicos {
        display: flex;
        flex-direction: column;
        background-color: var(--branco-padrao);
        margin: 0 auto;
        border-radius: 2.2vh;
        color: var(--preto-padrao);
        text-align: center;
        padding-bottom: 2vw;
        margin-top: 5vh;
    }

    .titulo-servico-div {
        margin-top: 5vh;
    }
    
    .sessoes-itens {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1vw;
    }
    
    .item-servico {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        height: 50vh;
        margin-top: 5vh;
    }

    .item-servico img {
        width: 14vh;
    }

    .item-servico h2 {
        font-weight: 400;
    }

    .item-servico p {
        font-weight: 300;
        width: 70%;
        text-align: center;
    }

    .item-servico a {
        color: var(--azul-padrao);
    }

    .para-quem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
    }
    
    .para-quem-items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        width: 100%;
        margin: 2vw 0;
    }
    
    .item-para-quem {
        display: flex;
        border: 0.4vh solid;
        border-image: var(--degrade-padrao) 1;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        width: 250px;
        height: 50vh;
        margin: 10px 0;
    }
    
    .btn-entre-em-contato-geral {
        width: 70vw;
        height: 6.5vh;
        border-radius: 1vw;
        background-image: var(--degrade-padrao);
        border: none;
        color: var(--branco-padrao);
        font-size: 2.2vh;
        font-weight: 500;
        cursor: pointer;
        transition: 0.5s;
    }
    

    .btn-entre-em-contato-geral:hover {
        width: 80vw;
        height: 7.5vh;
        font-size: 2.6vh;
        font-weight: 600;
    }

    .portifolio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* height: 110vh; */
    }
    
    .portifolio p {
        margin: 5vh 1%;
        text-align: center;
        font-size: 2vh;
    }
    
    .sessao-do-portifolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .item-portifolio {
        width: 70vw;
        height: 30vh;
        border-radius: 1vw;
        background-color: var(--branco-padrao);
        transition: 0.5s;
        margin-bottom: 5%;
        cursor: pointer;
    }

    #btn-contato-portifolio {
        margin: 0  auto;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

    .sobre-mim-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10vh 0;
        
    }

    .imagem-sobre-mim {
        width: 400px;
        height: 60vh;
        border-radius: 1vw;
        background-image: url('../images/matheus-hero-section-desktop.webp');
        background-size: cover;
        background-position: center;
    }

    .textos-sobre-mim {
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
        margin: o auto;
        gap: 5%;
        width: 80vw;
        text-align: center;
    }

    .textos-sobre-mim p {
        font-size: 2vh;
    }

    .div-botao-sobre-mim{
        display: flex;
        justify-content: center;
    }

    .div-botao-sobre-mim img {
        display: none;
    }

    #btn-contato-sobre-mim {
        margin-top: 5%;
        width: 70vw;
    }

    #btn-contato-sobre-mim:hover {
        width: 80vw;
    }
}
