.informativos {
    display: flex;
    flex-direction: column;
    
    .site {
        display: flex;
        justify-content: space-around;
        padding-bottom: 10vh;
        margin-top: 10vh;
        border-bottom: 1px solid gray;
        
        .conteudo {
            width: 35vw;

            Ul {
                list-style: none;

                h3 {
                    color: white;
                    margin-top: 2vh;
                    font-weight: 400;
                }

                p {
                    text-align: start;
                    color:  rgb(171, 169, 169);
                    font-weight: 300;
                }
            }
        }

        .imagem {
            width: 35vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 1rem;
                width: auto;
                height: auto;
            }
        }
    }
}

@media (max-width: 750px) {
    .informativos {
        flex-direction: column;

        .site {
            flex-direction: column;
            align-items: center;

            .conteudo {
                width: 90%;
                order: 2;
                margin-top: 5vh;

                h2 {
                    text-align: center;
                    font-size: 1rem;
                }

                ul {
                    h3 {
                        font-size: 0.9rem;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 0.8rem;
                    }
                }
            }

            .imagem {
                width: 90%;
                height: 50vh;
                border-radius: 1rem;
                order: 1;
            }
        }
    }
}