@media screen {
    
    .portifolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4vh 0;
    }
    
    .portifolio p {
        color: var(--branco-padrao);
        font-size: 1rem;
        font-weight: 300;
    }
    
    .container-portifolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3%;
        width: 100%;
        margin-top: 3vh;
    }
    
    .item-portifolio {
        width: 20vw;
        background-color: var(--branco-padrao);
        margin-bottom: 3%;
        border-radius: 1rem;
    }
    
    .item-portifolio img {
        position: relative;
        width: 100%;
        top: 0;
        border-radius: 1rem 1rem 0 0 ; 
    }
    
    .textos-item-portifolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2vh 1vw;
    }
    
    .item-portifolio h2, p, a {
        text-align: center;
        margin-bottom: 2%;
    }
    
    .item-portifolio h2 {
        color: var(--preto-padrao);
        font-size: 13pt;
    }
    
    .item-portifolio p {
        color: var(--preto-padrao);
        font-size: 10pt;
        margin-top: 0;
    }
    
    .item-portifolio a {
        color: #2C5493;
        text-decoration: none;
    }    
    }
    
    @media (max-width: 768px) {
        .item-portifolio {
            width: 40vw;
        }
        
        .textos-item-portifolio {
            justify-content: space-between;
    
        }
        
        .textos-item-portifolio > p, h2 , a {
            margin: 0;
            margin-bottom: 2vh;
            text-align: center;
        }
    }
    
    @media (max-width: 500px) {
        .container-portifolio {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .item-portifolio {
            width: 90vw;
            height: 50vh;
            justify-content: space-between;
        }
    
        .item-portifolio h2, p, a {
            margin-bottom: 0;
            text-align: center !important;
        }
        
        .textos-item-portifolio {
            display: flex;
            height: 45%;
            flex-direction: column;
            justify-content: space-around;
        }
    
        .textos-item-portifolio h2 {
            margin-bottom: 0;
        }
    
        .textos-item-portifolio p {
            margin-top: 0;
        }
    }