@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500;1,600&display=swap');

:root {
    --degrade-padrao : linear-gradient(90deg, #2C5493, #6288C6);
    --branco-padrao : #D9D9D9;
    --preto-padrao: #1E1E1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(90deg, #1E1E1E, #0C1E3B);
    font-family: Poppins, sans-serif;
}

/* Início do menu */

@media screen {
    
header {
    border-bottom: 1px solid var(--branco-padrao);
    backdrop-filter: blur(15px);
    background-image: linear-gradient(90deg, #1E1E1E, #0C1E3B);
    position: sticky;
    z-index: 99999;
    top: 0;
    height: 10vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5vw;
}

.div-logo {
    display: flex;
    align-items: center;
}


.menu-list ul {
    display: flex;
    gap: 7vw;
    list-style-type: none;
    margin: 0 3vw;
}

.menu-item a{
    color: var(--branco-padrao);
    cursor: pointer;
    font-weight: 300;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item a:hover {
    font-weight: 500;
    font-size: 105%;
}

.button-contato button{
    background-image: var(--degrade-padrao);
    border: none;
    border-radius: 1rem;
    width: 10vw;
    height: 6vh;
    cursor: pointer;
    transition: 0.5s;
}

.button-contato button:hover {
    width: 11vw;
    height: 6.5vh;
    font-size: 105%;
}

.button-contato a {
    color: var(--branco-padrao);
    text-decoration: none;
    font-weight: 600;
}

.menu-mobile, .icon-menu{
    display: none;
}
    
}

@media (max-width: 750px) {
    header {
        backdrop-filter: blur(5px);
        border: none;
    }
    .menu-list, .button-contato {
        display: none
    }
    
    .icon-menu {
        display: block;
        background-color: transparent;
        border: none;
    }

    .icon-menu img {
        width: 5vw;
    }

    .div-logo img {
        width: 13vw;
    }
    
    .menu-mobile-ativado {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -5vh;
        padding-top: 10vh;
        height: 90vh;
    
    }
    
    .menu-mobile ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-mobile li {
        margin-bottom: 5vh;
    }

    .menu-mobile a {
        color: var(--branco-padrao);
        text-decoration: none;
    }

    .button-contato-mobile button {
        background-image: var(--degrade-padrao);
        border: none;
        width: 80vw;
        height: 6vh;
        border-radius: 1rem;
        margin-bottom: 3vh;
    }
}

@media (max-width: 500px) {
    header {
        backdrop-filter: blur(5px);
        border: none;
    }
    .menu-list, .button-contato {
        display: none
    }
    
    .icon-menu {
        display: block;
        background-color: transparent;
        border: none;
    }

    .icon-menu img {
        width: 10vw;
    }

    .div-logo img {
        width: 23vw;
    }
    
    .menu-mobile-ativado {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -5vh;
        padding-top: 10vh;
        height: 90vh;
    
    }
    
    .menu-mobile ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-mobile li {
        margin-bottom: 5vh;
    }

    .menu-mobile a {
        color: var(--branco-padrao);
        text-decoration: none;
    }

    .button-contato-mobile button {
        background-image: var(--degrade-padrao);
        border: none;
        width: 80vw;
        height: 6vh;
        border-radius: 1rem;
        margin-bottom: 3vh;
    }
}
/* Fim do menu */

/* Início da hero section */

@media screen {
    .hero {
        display: flex;
            justify-content: space-around;
            margin: 0 3vw;
            align-items: center;
        }
        
        .textos  p{
            color: var(--branco-padrao);
            font-weight: 300;
            margin-bottom: 2vh;
            margin-left: 0;
            font-size: 0.9vw;
            width: 80%;
            text-align: justify;
        }
        
        .textos h1 {
            color: var(--branco-padrao);
            font-size: 3.5rem;
            margin-bottom: -1vh;
            margin-top: -2vh;
        }
        
        .textos h2 {
            color: var(--branco-padrao);
            font-size: 3vh;
            margin: 1vh 0;
        }
        
        .botoes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5%;
            width: 80%;
        }
        
        
        .botoes button {
            height: 7vh;
            width: 20vw;
            border-radius: 1rem;
            background-color: transparent;
            border: 0.2vw solid var(--branco-padrao);
            cursor: pointer;
            transition: 0.5s;
        }
        
        .botoes button:hover {
            scale: 1.1;
        }
        
        button.entre-em-contato{
            background-image: var(--degrade-padrao);
            border: none;
        }
        
        .botoes a {
            color: var(--branco-padrao);
            font-size: 1.2vw;
            text-decoration: none;
        }
        
        .imagens img {
            width: 40vw;
        }
        
            
}

@media (max-width: 800px){
    .hero {
        height: 50vh;

    }

    .conteudo {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 1;
        position: relative;
    }
    .textos h1 {
        font-size: 2.5rem;
    }

    .textos h2 {
        font-size: 1.3rem;
        font-weight: 400;
        margin-top: 0;
        text-align: start;
    }

    .textos p {
    font-size: 0.6rem;
    width: 100%;
    }

    .botoes button {
        width: 20vw;
        height: 6vh;
        margin: 2vh 0;
    }

    .botoes a {
        font-size: 1.5vw;
    }

    .imagens {
        height: 50vh;
        width: 40vw;
        display: flex;
        align-items: start;
        justify-content: center;
        order: 2;
    }

    .imagens img {
        height: 100%;
        width: auto;
        
    }
}

@media (max-width: 500px){
    .hero {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        z-index: 2;
    }

    .imagens {
        position: relative;
        order: 1;
        z-index: 1;
    }

    .imagens img {
        width: 95vw;
        margin-top: -1vh;
    }

    .textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -10vh;
        margin-bottom: 1vh;
    }

    .textos p, h1 {
        text-align: center;
    }

    .textos p {
        font-size: 2vh;
        text-align: center;
    }

    .textos h1 {
        font-size: 2rem;
        margin-top: -2vh;
    }

    .textos h2 {
        font-size: 1.1rem;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }

    .botoes p {
        display: none;
    }

    .botoes button {
        width: 80vw;
        margin-bottom: 0;
    }

    .entre-em-contato a {
        font-size: 2.3vh;
    }

    .button-portifolio a{
        font-size: 2.3vh;
    }

}

/* Fim da Hero Section*/

/* Início da sessão de serviços */

@media screen {
    .meus-servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--branco-padrao);
        border-radius: 1.1rem;
        padding: 10vh 5vw;
    }
    
    .meus-servicos p {
        font-size: 120%;
        font-weight: 300;
        margin-bottom: 3.5vh;
    }
    
    .servicos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 5%;
    }
    
    .servico-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 30%;
        height: 35vh;
        margin-bottom: 3vh;
    }
    
    .servico-item img {
        width: 12vh;
    }
    
    .servico-item h2 {
        text-align: center;
        font-size: 2.5vh;
        color: var(--preto-padrao);
    }
    
    .servico-item p {
        text-align: center;
        font-size: 1.5vh;
        color: var(--preto-padrao)
    }
    
    .servico-item a {
        color: #2C5493;
        text-decoration: none;
    }
        
}


@media (max-width: 769px) {
    .servico-item {
        width: 40vw;
    }
}

@media (max-width: 500px) {
    .servico-item {
        width: 90vw;
    }

    
}

/* Fim da sessão de serviços */

/* Início da sessão de portifolio  */

@media screen {
    
.portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0;
}

.portifolio p {
    color: var(--branco-padrao);
    font-size: 100%;
    font-weight: 300;
    margin-top: 5vh;
}

.container-portifolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    margin-top: 3vh;
}

.item-portifolio {
    width: 20vw;
    background-color: var(--branco-padrao);
    margin-bottom: 3%;
    border-radius: 1rem;
}

.item-portifolio img {
    position: relative;
    width: 100%;
    top: 0;
    border-radius: 1rem 1rem 0 0 ; 
}

.textos-item-portifolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw 2vw 2vw 0;
}

.item-portifolio h2, p, a {
    margin-left: 5%;
    margin-bottom: 2%;
}

.item-portifolio h2 {
    color: var(--preto-padrao);
    font-size: 13pt;
}

.item-portifolio p {
    color: var(--preto-padrao);
    font-size: 10pt;
    margin-top: 0;
}

.item-portifolio a {
    color: #2C5493;
    text-decoration: none;
}    
}

@media (max-width: 768px) {
    .item-portifolio {
        width: 40vw;
    }
    
    .textos-item-portifolio {
        justify-content: space-between;
        height: 45%;

    }
    
    .textos-item-portifolio p {
        margin: 0;
        padding-left: 5%;
    }
}

@media (max-width: 500px) {
    .container-portifolio {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .item-portifolio {
        width: 70vw;
        height: 50vh;
        justify-content: space-between;
    }

    .item-portifolio h2, p, a {
        margin-bottom: 0;
    }
    
    .textos-item-portifolio {
        display: flex;
        height: 45%;
        flex-direction: column;
        justify-content: space-around;
    }

    .textos-item-portifolio h2 {
        margin-bottom: 0;
    }

    .textos-item-portifolio p {
        margin-top: 0;
    }
}

/* Fim da sessão de porfifolio */

/* Inicio da sessão para quem  */

@media screen {
    .para-quem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .para-quem p {
        color: var(--branco-padrao);
        font-size: 1.vw;
        font-weight: 300;
        margin-bottom: 10vh;
    }
    
    .container-para-quem {
        display: flex;
        justify-content: center;
        gap: 5%;
        flex-wrap: nowrap;
    }
    
    .item-para-quem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1%;
        width: 23vw;
        height: 50vh;
        padding: 1vh 1vw;
        border: 0.2vw solid var(--branco-padrao);
        border-radius: 1rem;
        margin-bottom: 10vh;
    }
    
    .item-para-quem img {
        height: 10vh;
    }
    
    .item-para-quem h2 {
        color: var(--branco-padrao);
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 0;
        font-size: 2.5vh;
    }
    
    .item-para-quem p {
        text-align: center;
        margin-top: 2vh;
        font-size: 1.5vh;
    }
    
    .btn-para-quem {
        width: 35vw;
        height: 7vh;
        border-radius: 1rem;
        border: none;
        background-image: var(--degrade-padrao);
        cursor: pointer;
        transition: 0.5s;
    }
    
    .btn-para-quem:hover {
        scale: 1.1;
    }
    
    .btn-para-quem a {
        color: var(--branco-padrao);
        font-weight: 600;
        text-decoration: none;
        font-size: 1.2vw;
    
    }        
}

@media (max-width: 768px) {
    .container-para-quem {
        flex-wrap: wrap;
    }

    .item-para-quem {
        width: 40vw;
        margin: 3vh 0;
    }

    .item-para-quem p {
        font-size: 2vh;
    }
    
    .btn-para-quem {
        width: 50vw;
    }

    .btn-para-quem a {
        font-size: 2.6vh;
    }
}

@media (max-width: 501px) {
    .item-para-quem {
        width: 80vw;
        height: 60vh;
        padding: 5vw;
    }

    .item-para-quem h2 {
        font-size: 3vh;
    }

    .btn-para-quem {
        width: 75vw;
    }

    .btn-para-quem a {
        font-size: 2vh;
    }
}

/* Fim da sessão para quem  */

/* Início da sessão Sobre  */

@media screen {
    .container-sobre {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 7vh 0 5vh 0;
    }
    
    .imagem-sobre {
        display: flex;
        width: 40vw;
        height: 60vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    .imagem-sobre img {
        height: 100%;

    }

    .textos-sobre {
        width: 40vw;
    }

    .textos-sobre p, h2 {
        color: var(--branco-padrao);
        margin-left: 0;
    }

    .textos-sobre h2 {
        margin-bottom: 2vh;
        font-size: 2.5rem;
    }

    .textos-sobre p {
        font-weight: 300;
    }

    .botoes-de-acao-sobre {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        margin-top: 3vh;
    }

    .botoes-de-acao-sobre button {
        width: 60%;
        height: 7vh;
        border-radius: 1rem;
        border: none;
        background-image: var(--degrade-padrao);
        color: var(--branco-padrao);
        font-size: 1.3rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.5s;
    }

    .botoes-de-acao-sobre button:hover {
        scale: 1.1;
    }

    .botoes-de-acao-sobre a {
        transition: 0.5s;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .botoes-de-acao-sobre a:hover {
        scale: 1.2;
    }

    .links-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .container-sobre {
        flex-direction: column;
        align-items: center;
    }

    .imagem-sobre {
        width: 80vw;
    }

    .textos-sobre {
        width: 80vw;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .textos-sobre p, h2 {
        text-align: center;
    }

    .botoes-de-acao-sobre {
        flex-wrap: wrap;
        align-items: center;
    }

    .botoes-de-acao-sobre button {
        width: 60vw;
    }

    .botoes-de-acao-sobre a {
        display: none;
    }

}

/* Fim da sessão Sobre  */

/* Início da sessão FAQ */

@media screen {
    .FAQ {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .FAQ h2 {
        text-align: center;
        margin: 5vh 0;
    }

    .container-faq {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-faq details {
        margin-bottom: 3vh;
        width: 80vw;
    }

    .titulo-pergunta {
        color: var(--branco-padrao);
        background-image: var(--degrade-padrao);
        height: 7vh;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        font-size: 1rem;
        cursor: pointer;
    }

    .titulo-pergunta::before {
        content: '>';
        transform: rotate(90deg);
        margin: 0 1vw; 
        font-size: 2rem;
    }

    details[open] .titulo-pergunta::before {
        content: '<';
    }

    .resposta {
        color: var(--branco-padrao);
        margin: -1vh  0;
        padding: 3vh 2vw;
    }
}

@media (max-width: 500px) {
    .titulo-pergunta {
        font-size: 0.8rem;
        width: 95%;
    }

    .titulo-pergunta::before {
        padding: 0 1vh;
    }
}

footer p {
    text-align: center;
    color: var(--branco-padrao);
    font-size: 1rem;
    font-weight: 300;
    margin: 10vh 0;
}